<div class="header row animacion-1" *ngIf="header.aux">
  <div class="col-md-2">
    <img src="/assets/tamales.png" class="img-logo">
  </div>
  <div class="col-md-2"><br></div>
  <div class="col-md-8 ">
    <label class="col-md-6"></label>

    <!-- <label class="col-md-2 menu-seleccion" routerLink="/history">{{ 'cabecera.historia' | translate }}</label>
    <label class="col-md-2 menu-seleccion" routerLink="/about">{{ 'cabecera.nosotros' | translate }}</label> -->
    <label class="col-md-2 menu-seleccion" routerLink="/contact">{{ 'cabecera.contacto' | translate }}</label>
    <label class="col-md-3 menu-seleccion">
      <button (click)="menuCambio()" class="boton-menu" mat-raised-button routerLink="/home">
        <mat-icon>shopping_cart</mat-icon> {{ 'cabecera.pedido' | translate }}
      </button>
    </label>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="header-1 animacion-2" *ngIf="!header.aux">
  <img src="/assets/tamales.png" class="img-logo-1">
  <button (click)="menuCambio()" class="boton-menu ajuste-boton" mat-raised-button routerLink="/home">
    <mat-icon>shopping_cart</mat-icon> {{ 'cabecera.pedido' | translate }}
  </button>
  <input type="checkbox" id="menu-toggle" />
  <label id="trigger" for="menu-toggle"></label>
  <label id="burger" for="menu-toggle"></label>
  <ul id="menu">
    <li><a href="/home">{{ 'cabecera.pedido' | translate }}</a></li>
    <!-- <li><a href="/history">{{ 'cabecera.historia' | translate }}</a></li>
    <li><a href="/about">{{ 'cabecera.nosotros' | translate }}</a></li> -->
    <li><a href="/contact">{{ 'cabecera.contacto' | translate }}</a></li>
  </ul>
</div>
<button class="translate-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>translate</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button (click)="translate('en')" mat-menu-item>
    <mat-icon>bookmark</mat-icon>
    <span>English</span>
  </button>
  <button  (click)="translate('es')"mat-menu-item>
    <mat-icon>bookmark_border</mat-icon>
    <span>Español</span>
  </button>
</mat-menu>