<div class="container">
  <div class="titulo">Contacto</div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="tarjeta-contacto">
        <form>
          <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" autocomplete="off">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Correo electrónico" autocomplete="off">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>

          <mat-form-field class="col-md-12" appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput placeholder="Teléfono" autocomplete="off">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

          <mat-form-field class="col-md-12" appearance="outline">
            <mat-label>Mensaje</mat-label>
            <input matInput placeholder="Mensaje" autocomplete="off">
            <mat-icon matSuffix>user</mat-icon>
          </mat-form-field>

          <button mat-flat-button class="col-md-12" color="primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>