<div class="container">
    <div class="titulo">Nosotros</div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="tarjeta-nosotros">
          <label class="titulo-nosotros">Misión</label>
          <p>La misión de una empresa. depende de la actividad que la organización realice, así como del entorno en el que se encuentra y de los recursos de los que dispone. Si se trata de una empresa, la misión dependerá del tipo de negocio del que se trate, de las necesidades de la población en ese momento dado y la situación del mercado.</p>
      </div>
      <div class="tarjeta-nosotros">
          <label class="titulo-nosotros">Visión</label>
          <p>La visión de una empresa. por otro lado, se refiere a una imagen que la organización plantea a largo plazo sobre cómo espera que sea su futuro, una expectativa ideal de lo que espera que ocurra. La visión debe ser realista pero puede ser ambiciosa, su función es guiar y motivar al grupo para continuar con el trabajo.</p>
      </div>
      <div class="tarjeta-nosotros">
          <label class="titulo-nosotros">Valores</label>
          <p>Sin unos valores bien definidos y sobre todo bien afianzados en su personal, una empresa tendrá una imagen pública errática o irregular, lo cual se traduce en que su clientela e inversores no sabrán a ciencia cierta qué tipo de conductas esperar de ella. Todo esto va en detrimento de la credibilidad de la empresa, y en tiempos de redes sociales y fidelización clientelar, pocas cosas son más importantes que convencer al público objetivo de que puede confiar en la organización.</p>
      </div>
    </div>
  </div>
</div>