<div class="container">
    <div class="titulo">{{ 'nosotros.titulo' | translate }}</div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="tarjeta-nosotros">
          <label class="titulo-nosotros">{{ 'nosotros.titulo1' | translate }}</label>
          <p>{{ 'nosotros.descripcion1' | translate }}</p>
      </div>
      <div class="tarjeta-nosotros">
          <label class="titulo-nosotros">{{ 'nosotros.titulo2' | translate }}</label>
          <p>{{ 'nosotros.descripcion2' | translate }}</p>
      </div>
      <div class="tarjeta-nosotros">
          <label class="titulo-nosotros">{{ 'nosotros.titulo3' | translate }}</label>
          <p>{{ 'nosotros.descripcion3' | translate }}</p>
      </div>
    </div>
  </div>
</div>