<div class="container">
  <div class="titulo">Historia</div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="tarjeta-nosotros">
        <p>El tamal (del náhuatl tamalli, que significa envuelto) es un nombre genérico dado a varios platillos
          americanos de origen indígena preparados generalmente con masa de maíz cocida normalmente al vapor, envuelto
          en hojas de la mazorca de la misma planta de maíz o de plátano, mashán o bijao, maguey, aguacate, canak e
          incluso papel aluminio o plástico.
        </p>
        <div class="img-historia">
          <img src="/assets/historia_1.jpg">
        </div>
        <p> Pueden llevar o no relleno, el cual puede contener carne, vegetales, chile, frutas, salsa, etc. Además
          pueden tener sabor dulce o salado.
        </p>
        <div class="img-historia">
            <img src="/assets/historia_2.jpeg">
          </div>
        <p>Existe evidencia de que las culturas predominantes en México que llevaron el maíz a otras culturas y
          regiones, también llevaron consigo platos y formas de cocinar el maíz. Siendo el tamal un método sencillo de
          cocción del maíz, es posible pensar que podría haber sido inventado en alguna de las posibles regiones origen
          del maíz, es decir desde México, hasta Sudamérica y de ahí llevado a otras culturas y regiones.
          Los tamales son descritos en México por Fray Bernardino de Sahagún en Historia General de las cosas de Nueva
          España a principios del siglo XVI.

        </p>
      </div>

    </div>
  </div>
</div>