<div class="container">
  <div class="titulo">{{ 'historia.titulo' | translate }}</div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="tarjeta-nosotros">
        <p>{{ 'historia.p1' | translate }}
        </p>
        <div class="img-historia">
          <img src="/assets/historia_1.jpg">
        </div>
        <p> {{ 'historia.p2' | translate }}
        </p>
        <div class="img-historia">
            <img src="/assets/historia_2.jpeg">
          </div>
        <p>{{ 'historia.p3' | translate }}
        </p>
      </div>

    </div>
  </div>
</div>