<div class="historia-1">
    {{ 'home.historia' | translate }}
     <a routerLink="/history">{{ 'home.mas' | translate }}...</a>
</div>
<div class="container">
  <div class="row">
    <div *ngFor="let pro of productos" class="col-md-3">
      <div class="tarjeta" (click)="agregar(pro)">
        <img class="tarjeta-img" src="{{ pro.descripcion }}">

        <div class="tarjeta-contenido">
          {{ pro.nombre }}
          <label class="tarjeta-precio">{{ pro.precio.toFixed(2) }}</label>
        </div>
      </div>
    </div>
  </div>
</div>