<div class="menu">
  <div class="boton-hoja">
    <div class="boton-hoja-1">
      <button mat-button matTooltip="{{ 'menu.botonCerrar' | translate }}" (click)="cerrar()">{{ 'menu.botonCerrar' | translate }}</button>
    </div>
    <div class="boton-hoja-2" align="right">
      <button matTooltip="{{ 'menu.botonBorrar' | translate }}" mat-button (click)="vaciar()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
  <div class="lista-hoja">
    <div *ngFor="let elto of lista">

      <div class="col1">
        <img src="https://cdn.shopify.com/s/files/1/0346/5933/products/tamal-de-dulce_large.jpg">
      </div>

      <div class="col2">{{ elto.nombre }}<br>
        <label>{{ (elto.precio * elto.cantidad).toFixed(2) }}</label>
      </div>

      <div class="col3">
        <mat-form-field appearance="legacy" style="width: 100%;">
          <mat-label>{{ 'menu.cantidad' | translate }}</mat-label>
          <input [(ngModel)]="elto.cantidad" (keyup)="ajusta_cantidad(elto)" autocomplete="off" matInput placeholder="Cantidad"
            type="number">
        </mat-form-field>
      </div>

      <div class="col4">
        <button mat-icon-button (click)="eliminar(elto)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
  <div class="boton-pedido">
    <label>Total: {{ total.toFixed(2) }}</label>
    <button (click)="orden()" [disabled]="total <= 0" mat-raised-button>{{ 'menu.botonPedido' | translate }}</button>
  </div>
</div>